<h3><t></t>Contact us</h3>
<div class="row gx-5">
    <img src="~/Images/contact/contact.jpg" class="img-fluid col-5 rounded-circle" />
<div class="col">
<br />
<br />
<br />
<h1>We love to hear from you</h1>
<h5>Please contact by Email using button below</h5>
<email address="info@@bethanypieshop.com" content="Email me" class="btn btn-secondary"> </email>
</div>
</div>

