<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <script>
        var string1 = "Hello";
        var string2 = '\'Javascript\'';
        alert((string1 + " " + string2).toUpperCase());
        alert((string1 + " " + string2).length);
    </script>
</body>
</html>