@model IEnumerable<Catigory>

 <li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
<ul class="dropdown-menu">
@foreach(var category in Model)
{
    <li><a  class="dropdown-item" asp-controller="Pie" asp-action="List" asp-route-category="@category.CatigoryName">@category.CatigoryName</a></li>
}

<li class="divider" />
        <li>
            <a class="dropdown-item" asp-controller="Pie" asp-action="List">All Pies</a>
        </li>
</ul>
</li>
