
@model Dictionary<string,Product>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @foreach(KeyValuePair<string,Product> item in Model)
    {
    <p>@item.Key</p>
    <p>@item.Value.Price \t @item.Value.Related </p>
    }
</body>
</html>